@import './customcolors.scss';

body,
html {
    height: 100vh;
    width: 100vw;
}

#divcreatescreen {
    padding: 25px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 0.4em #000;
}

.sectioncreatescreen {
    height: 100vh;
    background-color: $custom-purple-darker;
}

#nav {
    display: flex;
    align-items: center;
    height: 70px;
}

.input {
    border: 50px solid #000;
}

#conteudo {
    height: 7em;
}

#icon {
    font-size: 30px;
    align-self: baseline;
}