@import './customcolors.scss';

body,
html {
    height: 100vh;
    width: 100vw;
}

.sectionnotesscreen {
    height: 100%;
    background-color: $custom-purple-darker;
}

.cardnotesscreen {
    border-radius: 22px;
}

#card {
    min-width: 100px;
}